body{
    margin: 0;
}

.logo-links{
    display: flex;
    margin: 0;
    padding: 16px;
    justify-content: space-between;
    background-color: #1F2937;
}

.logo-only{
    font-size: 40px;
    font-weight: 800;
    color: #F9FAF8;
}

a{
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}