body{
    margin: 0;
}

.logo-links{
    display: flex;
    margin: 0;
    padding: 16px;
    justify-content: space-between;
    background-color: #1F2937;
}

.logo{
    font-size: 40px;
    font-weight: 800;
    color: #F9FAF8;
}